
<div class="panel panel-primary">
	<div class="panel-heading">Generate Campegn URL</div>
	<div id="tabs" style="margin-top: 10px;">
		<div class="container-fluid" id="IssueCard">

			<div class="row">
				
				<div class="col-md-6">
					<Label>
						Campeign Source
					</Label>
					<select name="Source" class="form-control" id="Source" style="font-weight:bold">
						<option selected="selected" value="-1" disabled="disabled">Select Campeign Source</option>

					</select>
				</div>

				<div class="col-md-6">
					<Label>
						Service Category
					</Label>
					<select name="Service" class="form-control" id="serviceRequestID" style="font-weight:bold">
						<option selected="selected" value="-1" disabled="disabled">Select Service Category</option>

					</select>
				</div>

				<div class="col-md-12" id="serviceSubCategoryDiv">


				</div>


				<div class="col-md-12" style="margin-top: 53px">
					<Label>
						Generated URL
					</Label>
					<input class="form-control" placeholder="URL" readonly id="generatedURL" value="https://Butopia-Clinic.com" style="margin-bottom: 7px;">
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
@section scripts {
	<script src="~/admin-custom/js/settings-controller.js"></script>
}
