.ar-lang {
direction:rtl;

}
.custom-btn {
	box-shadow: 0px 1px 9px 2px #eaeaea;
	/*border-radius: 6px;*/
	padding-left: 6px !important;
	padding-right: 7px !important;
	line-height: 34px !important;
}

.nav-item-custom {
	padding: 0 29px !important;
	
}
.nav-link-custom {
	font-size:17px !important 
}

.navbar-nav-custom {
	margin-right: -51px !important;
}

