@model Beautopia.Model.Area.AboutUs

<div class="section mt-0">
	<div class="breadcrumbs-wrap">
		<div class="container">
			<div class="breadcrumbs">
				<a href="index.html">Home</a>
				<span>Beyond the Brand</span>
			</div>
		</div>
	</div>
</div>
<!--//section-->
<!--section-->
<div class="section page-content-first">

	<div class="container">
		@Html.Raw(Model.AboutUSText)
		
	</div>
</div>
