@model IEnumerable<Beautopia.Model.Area.SmileGillary>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@using Beautopia.Services.IDataService
@using Beautopia.Services.DataAppService
@using Beautopia.Model.Area
@using Beautopia.web.Areas.Admin.Extensions;

@{
	var SessionLang = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<string>("Lang");


	UsersAppService usersService = new UsersAppService();
	IUsers _users;
	_users = usersService;
	SiteInfo siteInfo = _users.GetSiteInfo();




}

<!--section-->
<div class="section mt-0">
	<div class="breadcrumbs-wrap">
		<div class="container">
			<div class="breadcrumbs">
				<a href="index.html">Home</a>
				<span>Smiles Gallery</span>
			</div>
		</div>
	</div>
</div>
<!--//section-->
<!--section-->
<div class="section page-content-first">
	<div class="container">
		<div class="text-center mb-2  mb-md-3 mb-lg-4">
			<div class="h-sub theme-color">@(SessionLang=="Ar"? "قصص عملائنا": "Our Clients Stories")</div>
			<h1>@(SessionLang=="Ar"? "معرض الابتسامات": "Smiles Gallery")</h1>
			<div class="h-decor"></div>
		</div>
	</div>
	<div class="container">
		<div class="text-center mb-3 mb-md-4 max-900">
			<p>
				@(SessionLang=="Ar"? "نحن نحب أن نرى مرضانا يبتسمون! إليكم بعضًا من أفضل الصور قبل وبعد ، كل ذلك في معرض ابتسامة واحد رائع": "We love to see our patients smile! Here are some of our best before-and-after pictures,all in one fantastic Smile Gallery")
				
			</p>
		</div>
		<div class="filters-by-category mb-2 mb-lg-4" style="display:none">
			<ul class="option-set justify-content-center" data-option-key="filter">
				<li><a href="#filter" data-option-value="*" class="selected">All</a></li>
				<li><a href="#filter" data-option-value=".category1">Crowns</a></li>
				<li><a href="#filter" data-option-value=".category2">Bridges</a></li>
				<li><a href="#filter" data-option-value=".category3">Dental Implants</a></li>
				<li><a href="#filter" data-option-value=".category4">Cosmetic Filling</a></li>
				<li><a href="#filter" data-option-value=".category5">Lumineers</a></li>
				<li><a href="#filter" data-option-value=".category6">Dentures</a></li>
				<li><a href="#filter" data-option-value=".category7">Porcelain Veneers</a></li>
				<li><a href="#filter" data-option-value=".category8">Diamond Polish</a></li>
			</ul>
		</div>
		<div class="gallery-wrap">
			<div class="loading-content">
				<div class="inner-circles-loader"></div>
			</div>
			<div class="gallery-smiles gallery-isotope" id="gallery">
				@foreach (var ite in Model)
				{
					<div class="gallery-item category2 category7">
						<div class="twentytwenty-container">
							<img src="/medlab/images/content/gallery/@ite.SmileImage" alt="" />

						</div>
					</div>


				}

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//section-->
<!--section call us-->
<div class="section mt-5">
	<div class="container">
		<div class="banner-call">
			<div class="row no-gutters">
				<div class="col-md-7 d-flex align-items-center">
					<div class="text-center w-100">
						<h2>Want the Same <span class="theme-color">Wonderful Smile?</span></h2>
						<div class="h-decor"></div>
						<p class="mt-sm-1 mt-lg-4 text-left text-sm-center">We provide advanced, trusted dental care delivered by a dedicated team in our modern practice.</p>
						<div class="mt-2 mt-lg-4 text-center">
							<a href="#" class="banner-call-phone"><i class="icon-telephone"></i>920003645, 920003645</a>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-5 mt-3 mt-md-0 text-center text-lg-left">
					<img src="/medlab/images/content/banner-callus-2.jpg" alt="" class="shift-right">
				</div>
			</div>
		</div>
	</div>
</div>
<!--section call us-->
