



	
		<!--section-->
		<div class="section mt-0">
			<div class="breadcrumbs-wrap">
				<div class="container">
					<div class="breadcrumbs">
						<a href="index.html">Home</a>
						<span>Services</span>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
		<!--section-->
		<div class="section page-content-first">
			<div class="container">
				<div class="text-center mb-2  mb-md-3 mb-lg-4">
					<div class="h-sub theme-color">What We Offer</div>
					<h1>Our Services</h1>
					<div class="h-decor"></div>
					<div class="text-center max-670 mt-4 mx-md-auto">
						<p>Clinical laboratory services are tests provided by a medical lab that aid in diagnosis and treatment of patients. There are many types of clinical laboratory services, including:</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row col-equalH">
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-01.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Molecular Testing & Oncology</a></h5>
							<div class="h-decor"></div>
							<p>Laboratory Services provides an expanding menu of molecular-based testing. Our services include:</p>
							<ul class="marker-list-md-line">
								<li>Chemotherapy</li>
								<li>Hormone therapy</li>
								<li>Immunotherapy</li>
								<li>Precision genomics</li>
								<li>Radiation oncology</li>
								<li>Surgical oncology</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-02.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Histology</a></h5>
							<div class="h-decor"></div>
							<p>Our SANAS accredited histology laboratory offers a diagnostic service to both the private and public sectors.</p>
							<ul class="marker-list-md-line">
								<li>Immunocytochemistry</li>
								<li>Immunofluorescence</li>
								<li>Electron Microscopy</li>
								<li>Neuropathology</li>
								<li>Muscle biopsies</li>
								<li>Nerve biopsies</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-03.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">General Diagnostic Tests</a></h5>
							<div class="h-decor"></div>
							<p>We are an industry leader in ensuring exceptional quality testing in our state-of-the-art facilities.</p>
							<ul class="marker-list-md-line">
								<li>Complete blood counts</li>
								<li>Anticoagulant Therapy Monitoring</li>
								<li>Blood Chemistry Analyses</li>
								<li>Therapeutic drug monitoring</li>
								<li>Microbiology</li>
								<li>Urinalysis</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-04.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Naturopathic Tests</a></h5>
							<div class="h-decor"></div>
							<p>We will perform both standard and specialized naturopathic lab tests as part of the assessment process.</p>
							<ul class="marker-list-md-line">
								<li>Gastrointestinal Testing</li>
								<li>Laboratory Tests on Hormonal Levels</li>
								<li>Cardiovascular Lab Tests</li>
								<li>Toxins & Pollutant Testing</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-05.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Genetics Tests</a></h5>
							<div class="h-decor"></div>
							<p>Genetic testing can deliver much more than ancestry information for the curious. Genetic testing is a medical laboratory test that examines into your genes. </p>
							<ul class="marker-list-md-line">
								<li>PCR</li>
								<li>DNA Sequencing</li>
								<li>Cytogenetics (Karyotyping and FISH)</li>
								<li>Microarrays</li>
								<li>Gene Expression Profiling</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-06.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Cytology</a></h5>
							<div class="h-decor"></div>
							<p>The purpose of a cytological examination is generally for the cytological detection of malignancy.</p>
							<ul class="marker-list-md-line">
								<li>Gynaecological Cytology</li>
								<li>Non-Gynaecological Cytology</li>
								<li>Fine Needle Aspiration Cytology</li>
								<li>BAL Differential Cell Count</li>
								<li>Sputum Cell Count</li>
								<li>Urine Cytology</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-07.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Sexual Health Screening</a></h5>
							<div class="h-decor"></div>
							<p>Having a sexual health screen can be a positive thing to do if you're sexually active or you've had unprotected sex.</p>
							<ul class="marker-list-md-line">
								<li>Female Basic screen without bloods</li>
								<li>Male Basic screen</li>
								<li>STI Male Standard Screen</li>
								<li>Vaginitis / BV Profile</li>
								<li>STI Complete Screen</li>
								<li>Hepatitis C Profile</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-08.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Infection Screening</a></h5>
							<div class="h-decor"></div>
							<p>If you have the virus, finding out quickly means you can start treatment right away so you can live a long, full life.</p>
							<ul class="marker-list-md-line">
								<li>Antenatal infection</li>
								<li>Hepatitis Screening</li>
								<li>HIV</li>
								<li>Chlamydia</li>
								<li>Tropical Screen</li>
								<li>Tuberculosis, TB</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="service-page.html"><img src="/medlab/images/content/services-09.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><a href="service-page.html">Chemical Research</a></h5>
							<div class="h-decor"></div>
							<p>Medicinal chemists apply their chemistry training to the process of synthesizing new pharmaceuticals. </p>
							<ul class="marker-list-md-line">
								<li>Cleaning Validation for Facilities</li>
								<li>Dissolution Tests</li>
								<li>Stability Studies</li>
								<li>Stability-Indicating Methods</li>
								<li>Five Batch Analysis</li>
								<li>QC Testing</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->

	

	


