<div class="panel panel-primary">
	<div class="panel-heading">Manage Equipment</div>


	<div id="tabs" style="margin-top: 10px;">


		<div class="container-fluid" id="IssueCard">


			<form id="manageequipment" method="post" novalidate>

				<div class="row row-xs-space mt-1">
					<div class="col-sm-2">
						<Label>
							Title En
						</Label>
						<input type="text" name="Title" id="Title" class="form-control inputClass" autocomplete="off" placeholder="Enter Title En" />


					</div>
					<div class="col-sm-2">
						<Label>
							Title Ar
						</Label>
						<input type="text" name="TitleAr" id="TitleAr" class="form-control inputClass" autocomplete="off" placeholder="Enter Title Ar" />


					</div>
					<div class="col-sm-2 mt-1 mt-sm-0" style="display:none">
						<Label>
							Equipment Icon
						</Label>
						<input type="hidden" name="ID" id="ID" value="0" />
						<input type="text" name="EquipmentIcon" id="EquipmentIcon" class="form-control inputClass" autocomplete="off" placeholder="Enter EquipmentIcon" />

					</div>

					<div class="col-sm-2 mt-1 mt-sm-0">
						<Label>
							Image
						</Label>

						<input type="file" name="EquipmentImageFile" id="EquipmentImageFile" class="form-control inputClass" />
						<input type="hidden" name="EquipmentImage" id="EquipmentImage" class="form-control inputClass" />

					</div>
					<div class="col-sm-2 mt-1 mt-sm-0">



						<img src="" id="subservice-img-tag" onerror='this.src = "../admin-custom/Images/no image.png"' style="width:145px;" />

					</div>

					<div class="col-sm-2 mt-1 mt-sm-0">
						<Label>
							Image
						</Label>

						<input type="file" name="EquipmentImageFileAr" id="EquipmentImageFileAr" class="form-control inputClass" />
						<input type="hidden" name="EquipmentImageAr" id="EquipmentImageAr" class="form-control inputClass" />

					</div>
					<div class="col-sm-2 mt-1 mt-sm-0">



						<img src="" id="subservice-img-tagAr" onerror='this.src = "../admin-custom/Images/no image.png"' style="width:145px;" />

					</div>



				</div>

				<div class="row row-xs-space mt-1" style="margin-top:11px">

					<div class="col-sm-4 mt-1 mt-sm-0">

						<Label>
							Description En
						</Label>
						<textarea name="Description" id="Description" class="form-control inputClass" autocomplete="off" placeholder="Enter Description"></textarea>
						@*<input type="hidden" name="Description" id="Description" class="form-control inputClass" />*@
						@*<input type="text" name="Description" id="Description" class="form-control inputClass" autocomplete="off" placeholder="Enter Title3" />*@

					</div>

					<div class="col-sm-4 mt-1 mt-sm-0">

						<Label>
							Description Ar
						</Label>
						<textarea name="DescriptionAr" id="DescriptionAr" class="form-control inputClass" autocomplete="off" placeholder="Enter Description Ar"></textarea>
						@*<input type="hidden" name="DescriptionAr" id="DescriptionAr" class="form-control inputClass" />*@
					

					</div>

					<div class="col-sm-2 mt-1 mt-sm-0" style="text-align:center">
						<Label>
							IsActive
						</Label>
						<input type="checkbox" name="IsActiveChecked" id="IsActiveChecked" class="form-control chkClass" />

					</div>
					<div class="text-right mt-2">
						<button type="submit" class="btn btn-success" style=" margin-right: 13px;">Save</button>
					</div>
				</div>


			</form>

		</div>


		<div id="CardHolderList">
			<div class="row">
				<div class="col-xs-18 col-md-12 equipmentGridDiv" style="margin-top: 22px;">
					<div id="equipmentGrid"></div>

				</div>
			</div>

		</div>

	</div>
</div>

@section scripts {
	<script src="~/admin-custom/js/manage-equipment-controller.js"></script>

	<script type="text/javascript">
		
	</script>
}
