<div class="panel panel-primary">
	<div class="panel-heading">About US</div>


	<div id="tabs" style="margin-top: 10px;">


		<div class="container-fluid" id="IssueCard">


		




				<div class="row row-xs-space mt-1" style="">

					


					<div class="text-right mt-2">
						<button type="button" class="btn btn-success" id="saveit" style=" margin-right: 13px;">Save</button>
					</div>
				</div>
				<div class="row row-xs-space mt-1" style="margin-top:4px">

					<div class="col-sm-12 mt-1 mt-sm-0">

						<Label>
							About Us
						</Label>
						<textarea name="AboutUSTextEditor" id="AboutUSTextEditor" class="form-control inputClass" autocomplete="off" placeholder="Enter AboutUSText"></textarea>
						<input type="hidden" name="AboutUSText" id="AboutUSText" class="form-control inputClass" />
						@*<input type="text" name="Description" id="Description" class="form-control inputClass" autocomplete="off" placeholder="Enter Title3" />*@
						<input type="hidden" name="ID" id="ID" value="0" />
					</div>

				</div>



		</div>


		

	</div>
</div>

@section scripts {
	<script src="~/admin-custom/js/manage-aboutus-controller.js"></script>

	<script type="text/javascript">

	</script>
}
