
	<div class="panel-heading">Dashboard</div>







	<div class="row row-xs-space mt-1" style="border: 1px solid;">
		<div class="col-sm-12" style="text-align:center">

			<div id="ServicesBySource"></div>

		</div>
		

	</div>
	<div class="row row-xs-space mt-1" style="border: 1px solid;">
		
		<div class="col-sm-12" style="text-align:center">

			<div id="TotalServicesCount"></div>

		</div>

	</div>












@section scripts {
	<script src="~/admin-custom/js/manage-dashboard-controller.js"></script>
}
