

<h3>Other Leads</h3>
<div class="row">
	<div id="leads-grid"></div>
</div>

<div id="DetailAtivities" style="display:none">

	

	<div class="row" style=" padding: 27px;">
		<div id="activitiesGrid"></div>
	</div>
</div>

@section scripts {
	<script src="~/admin-custom/js/other-leads.js"></script>
}
